<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>Hello, world!</h1>
    <button type="button" class="btn btn-primary">Primary</button> -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/profile.png"
                  alt="profile image"
                  class="img-fuid"
                  title="devloper"
                />
              </figure>
            </div>
            <!-- left header -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to the weather app</p>
              <h1>
                I am a
                <span class="text_clr">Mern Stack Developer </span>, Coder and
                IT Undergrad
              </h1>
              <!-- right header -->
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>