<html lang='en'>
  <head>
   {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>Hello, world!</h1>
    <button type="button" class="btn btn-primary">Primary</button> -->
    {{>navbar}}
    <!-- main header -->
    <div class='container-fluid main_header'>
      <div class='row'>
        <div class='col-md-10 col-12 mx-auto'>
          <div class="main_content">
              <form class="temp_form">
                  <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                  <input type="submit" value="search" id="submitBtn">
              </form>
          </div>

          <div class="tempInformation">
              <div class="top_layer">
                  <p id ="day"></p>
                  <p id ="today_data"></p>


              </div>
              <div class="main_layer">
                  <p id="city_name"></p>
                <div class="middle_layer data_hide">
                    <p id="temp"><span id="temp_real_value">0</span><sup>o</sup>C</p>
                    <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  {{>footer}}
  <script>
    let today = new Date();
const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
];
const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
{{!-- console.log(today.getDate());
console.log(days[today.getDay()]);
console.log(monthNames[today.getMonth()]); --}}
const day=document.getElementById('day');
const today_data=document.getElementById('today_data');

day.innerHTML=days[today.getDay()];
today_data.innerHTML=`${today.getDate()} ${monthNames[today.getMonth()]}`;

  </script>
  <script  src='js/config.js'></script>
  <script src="js/main.js"></script>
  </body>
</html>